<ion-header>
      <ion-toolbar color="primary">
        <ion-back-button default-href="home" slot="start"></ion-back-button>
  </ion-toolbar>
  </ion-header>
  
  <ion-content color="primary"> 
 <ion-list>
    <ion-label  position="floating" >Internet Hours</ion-label>
  
      <ion-item>
       <ion-input placeholder="time" [(ngModel)] ="Ihours" ></ion-input> 
   R<ion-input placeholder="price" [(ngModel)] ="Iprice" ></ion-input>
  </ion-item>   

                <ion-radio-group>
                  <ion-list-header>
                      Printing and Copying
                  </ion-list-header>
                  
                    <ion-label>Black and White</ion-label>
                    <ion-radio value="cord" slot="start"></ion-radio> &nbsp;
  
                    <ion-label>colour</ion-label>
                    <ion-radio value="duesenberg" slot="start"></ion-radio>
                  
                </ion-radio-group>
                <ion-item> 
                     <ion-input placeholder="time" [(ngModel)] ="hours" ></ion-input> R
                       <ion-input placeholder="price" [(ngModel)] ="price" ></ion-input>
                      </ion-item> 
                       <ion-label  position="floating" >Scanner</ion-label>
         
                       <ion-input placeholder="time" [(ngModel)] ="Ihours" ></ion-input> 
                   R<ion-input placeholder="price" [(ngModel)] ="Iprice" ></ion-input>
                  
                   <ion-label  position="floating" >Fax</ion-label>
                   <ion-input placeholder="time" [(ngModel)] ="Ihours" ></ion-input> 
               R<ion-input placeholder="price" [(ngModel)] ="Iprice" ></ion-input>
          
                
               <ion-label  position="floating" >Email</ion-label>
               <ion-input placeholder="time" [(ngModel)] ="Ihours" ></ion-input> 
           R<ion-input placeholder="price" [(ngModel)] ="Iprice" ></ion-input>
            
            
           <ion-label  position="floating" >Binding</ion-label>
           <ion-input placeholder="time" [(ngModel)] ="Ihours" ></ion-input> 
       R<ion-input placeholder="price" [(ngModel)] ="Iprice" ></ion-input>

        
       
    </ion-list>
  </ion-content>
      