<ion-header>
  <ion-toolbar color="primary">
    <ion-grid class="head_ion-grid">
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <img class="img"src="assets/logo.png">
        </ion-col>
        </ion-row>
        </ion-grid>
        <ion-back-button default-href="home" slot="start"></ion-back-button>

  </ion-toolbar>
  </ion-header>
  
  <ion-content color="primary"> 
 <ion-list>
    <ion-label  position="floating" >Internet Hours</ion-label>
   
      <ion-item>
       <ion-input placeholder="time" [(ngModel)] ="Ihours" ></ion-input> 
   R<ion-input placeholder="price" [(ngModel)] ="Iprice" ></ion-input>
  </ion-item>   

                <ion-radio-group>
                  <ion-list-header>
                      Printing and Copying
                  </ion-list-header>
                  
                    <ion-label>Black and White</ion-label>
                    <ion-radio value="cord" slot="start"></ion-radio> &nbsp;
  
                    <ion-label>colour</ion-label>
                    <ion-radio value="duesenberg" slot="start"></ion-radio>
                  
                </ion-radio-group>
                <ion-item> 
                     <ion-input placeholder="time" [(ngModel)] ="hours" ></ion-input> R
                       <ion-input placeholder="price" [(ngModel)] ="price" ></ion-input>
                      </ion-item> 
                       <ion-label  position="floating" >Scanner</ion-label>
         
                       <ion-input placeholder="time" [(ngModel)] ="Ihours" ></ion-input> 
                   R<ion-input placeholder="price" [(ngModel)] ="Iprice" ></ion-input>
                  
                   <ion-label  position="floating" >Fax</ion-label>
                   <ion-input placeholder="time" [(ngModel)] ="Ihours" ></ion-input> 
               R<ion-input placeholder="price" [(ngModel)] ="Iprice" ></ion-input>
          
                
               <ion-label  position="floating" >Email</ion-label>
               <ion-input placeholder="time" [(ngModel)] ="Ihours" ></ion-input> 
           R<ion-input placeholder="price" [(ngModel)] ="Iprice" ></ion-input>
            
            
           <ion-label  position="floating" >Binding</ion-label>
           <ion-input placeholder="time" [(ngModel)] ="Ihours" ></ion-input> 
       R<ion-input placeholder="price" [(ngModel)] ="Iprice" ></ion-input>

        
       <ion-label  position="floating" >Printing of T-shirt</ion-label>
       <ion-input placeholder="time" [(ngModel)] ="Ihours" ></ion-input> 
   R<ion-input placeholder="price" [(ngModel)] ="Iprice" ></ion-input>
      <ion-button (click)="add()">Add</ion-button>
    </ion-list>
      <!-- <ion-item>
          <ion-label>Internet Hours</ion-label>
          <ion-textarea rows="6" cols="20">{{service.hours}} &nbsp;{{service.price}}</ion-textarea>
        </ion-item> -->
 
      <!-- <form class="form" [formGroup]="validations_form"  (ngSubmit)="tryRegister(validations_form.value)">
      <ion-grid>
          <ion-row class="row">
    
                <ion-label  position="floating" color="primary">Internet Hours</ion-label>
               <br>
         
    
              Time
              <ion-item>15 Min</ion-item>
              <ion-item>30 Min</ion-item></ion-row>
              <ion-item>1 Hour</ion-item></ion-row>
         
    
              Price
               <ion-item> R<ion-input type="number" formControlName="InternetHours15" ></ion-input>
                </ion-item></ion-row>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.InternetHours15">
                    <div class="error-message" *ngIf="validations_form.get('InternetHours15').hasError(validation.type) && (validations_form.get('InternetHours15').dirty || validations_form.get('InternetHours15').touched)">
                    {{ validation.message }}
                  </div>
                   </ng-container>
                  </div>
              <ion-item>R<ion-input type="number" formControlName="InternetHours30" ></ion-input> </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.InternetHours30">
                    <div class="error-message" *ngIf="validations_form.get('InternetHours30').hasError(validation.type) && (validations_form.get('InternetHours30').dirty || validations_form.get('InternetHours30').touched)">
                    {{ validation.message }}
                  </div>
                   </ng-container>
                  </div>
              <ion-item>R<ion-input type="number" formControlName="InternetHours1h" ></ion-input></ion-item></ion-row>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.InternetHours1h">
                    <div class="error-message" *ngIf="validations_form.get('InternetHours1h').hasError(validation.type) && (validations_form.get('InternetHours1h').dirty || validations_form.get('InternetHours1h').touched)">
                    {{ validation.message }}
                  </div>
                   </ng-container>
                  </div>
         
         
          <br>
          <ion-row class="row">
      
                  <ion-label  position="floating" color="primary">Printing and Copying</ion-label>
                 <br>
           
      
                size
                <br>
              <ion-item>A4/ SS</ion-item>
              <ion-item>A4/ DS</ion-item>
              <ion-item>A3/ SS</ion-item></ion-row>
              <ion-item>A3/ DS</ion-item></ion-row>
           
      
                B&W
                <br>
                <ion-item>R
                          <ion-input type="number" formControlName="Printing1"></ion-input>
                        </ion-item></ion-row>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.Printing1">
                              <div class="error-message" *ngIf="validations_form.get('Printing1').hasError(validation.type) && (validations_form.get('Printing1').dirty || validations_form.get('Printing1').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>
                <ion-item>R
                          <ion-input type="number" formControlName="Printing2"></ion-input>
                        </ion-item>
                      <ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.Printing2">
                                  <div class="error-message" *ngIf="validations_form.get('Printing2').hasError(validation.type) && (validations_form.get('Printing2').dirty || validations_form.get('Printing2').touched)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>R
                            <ion-input type="number" formControlName="Printing3"></ion-input>
                          </ion-item>
                        <ion-item>
                              <div class="validation-errors">
                                  <ng-container *ngFor="let validation of validation_messages.Printing3">
                                    <div class="error-message" *ngIf="validations_form.get('Printing3').hasError(validation.type) && (validations_form.get('Printing3').dirty || validations_form.get('Printing3').touched)">
                                      {{ validation.message }}
                                    </div>
                                  </ng-container>
                                </div>R
                              <ion-input type="number" formControlName="Printing4"></ion-input>
                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.Printing4">
                                  <div class="error-message" *ngIf="validations_form.get('Printing4').hasError(validation.type) && (validations_form.get('Printing4').dirty || validations_form.get('Printing4').touched)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>
           
      
                color
                <br>
              <ion-item>R
                    <ion-input type="number" formControlName="PrintingA"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.PrintingA">
                        <div class="error-message" *ngIf="validations_form.get('PrintingA').hasError(validation.type) && (validations_form.get('PrintingA').dirty || validations_form.get('PrintingA').touched)">
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>
                <ion-item>R
                      <ion-input type="number" formControlName="PrintingB"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.PrintingB">
                          <div class="error-message" *ngIf="validations_form.get('PrintingB').hasError(validation.type) && (validations_form.get('PrintingB').dirty || validations_form.get('PrintingB').touched)">
                            {{ validation.message }}
                          </div>
                        </ng-container>
                      </div>
                  <ion-item>R
                        <ion-input type="number" formControlName="PrintingC"></ion-input>
                      </ion-item>
                      <div class="validation-errors">
                          <ng-container *ngFor="let validation of validation_messages.PrintingC">
                            <div class="error-message" *ngIf="validations_form.get('PrintingC').hasError(validation.type) && (validations_form.get('PrintingC').dirty || validations_form.get('PrintingC').touched)">
                              {{ validation.message }}
                            </div>
                          </ng-container>
                        </div>
                    <ion-item>R
                          <ion-input type="number" formControlName="PrintingD"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.PrintingD">
                              <div class="error-message" *ngIf="validations_form.get('PrintingD').hasError(validation.type) && (validations_form.get('PrintingD').dirty || validations_form.get('PrintingD').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>
           
           
            <br>
            <ion-row class="row">
        
                    <ion-label  position="floating" color="primary">Scanner</ion-label>
                   <br>
             
        
                  Separate
                  <br>
                  <ion-item>R
                        <ion-input type="number" formControlName="Scanner1"></ion-input>
                      </ion-item>
                      <div class="validation-errors">
                          <ng-container *ngFor="let validation of validation_messages.Scanner1">
                            <div class="error-message" *ngIf="validations_form.get('Scanner1').hasError(validation.type) && (validations_form.get('Scanner1').dirty || validations_form.get('Scanner1').touched)">
                              {{ validation.message }}
                            </div>
                          </ng-container>
                        </div>                 
             
        
                    Together
                    <br>
                  <ion-item>R
                        <ion-input type="number" formControlName="Scanner2"></ion-input>
                      </ion-item></ion-row>
                      <div class="validation-errors">
                          <ng-container *ngFor="let validation of validation_messages.Scanner2">
                            <div class="error-message" *ngIf="validations_form.get('Scanner2').hasError(validation.type) && (validations_form.get('Scanner2').dirty || validations_form.get('Scanner2').touched)">
                              {{ validation.message }}
                            </div>
                          </ng-container>
                        </div>
             
          
           <br>
           <ion-row class="row">
      
                  <ion-label  position="floating" color="primary">Fax</ion-label>
               <br>
           
      
                  Per Page
                  <br>
                 <ion-item>R
                      <ion-input type="number"  formControlName="Fax"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.Fax">
                          <div class="error-message" *ngIf="validations_form.get('Fax').hasError(validation.type) && (validations_form.get('Fax').dirty || validations_form.get('Fax').touched)">
                            {{ validation.message }}
                          </div>
                        </ng-container>
                      </div>
           
        
         <br>
         <ion-row class="row">
    
                <ion-label  position="floating" color="primary">Email</ion-label>
              <br>
         
    
             Per Page
             <br>
               <ion-item>R
                    <ion-input type="number" formControlName="Email"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.Email">
                        <div class="error-message" *ngIf="validations_form.get('Email').hasError(validation.type) && (validations_form.get('Email').dirty || validations_form.get('Email').touched)">
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>
         
      
            <br> 
            <ion-row class="row">
    
                <ion-label  position="floating" color="primary">Binding</ion-label>
         
    
              price
              <ion-item>R
                    <ion-input type="number" formControlName="Binding"></ion-input>
                  </ion-item></ion-row>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.Binding">
                        <div class="error-message" *ngIf="validations_form.get('Binding').hasError(validation.type) && (validations_form.get('Binding').dirty || validations_form.get('Binding').touched)">
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div> 
         
      
  <br>
       <ion-row class="row">
  
              <ion-label  position="floating" color="primary">Printing Of T-shirts</ion-label>
              <br>
  
  
                  <div class="image-upload">
                      <label for="file-input"> 
                  <ion-slides autoplay="5000" loop="true" speed="3000" class="full">
                      <ion-slide>
                          <img src="" alt="img">
                      </ion-slide>
                      <ion-slide>
                          <img src="" alt="img">
                      </ion-slide>
                      <ion-slide>
                          <img src="" alt="img">
                      </ion-slide>
                    </ion-slides>
                    <input id="file-input" type="file"/>
                    </label>
                  </div>
  
                  
            
       
  
  Price
          
              <ion-item>
                  <ion-input type="number" formControlName="tshirt"></ion-input>
              </ion-item>
  
             
  
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.tshirt">
                    <div class="error-message" *ngIf="validations_form.get('tshirt').hasError(validation.type) && (validations_form.get('tshirt').dirty || validations_form.get('tshirt').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div> 
          
       
    
      </ion-grid> 
      <ion-button  class="submit-btn" type="submit"  [disabled]="!validations_form.valid" routerLink="/serviceForm">Submit</ion-button>
       
      </form> -->

  </ion-content>
  