
<ion-header>
      <ion-toolbar color="primary">
          <ion-grid class="head_ion-grid">
              <ion-row justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <img class="img"src="assets/logo.png">
                </ion-col>
                </ion-row>
                </ion-grid>
        <ion-back-button default-href="home" slot="start"></ion-back-button>
  </ion-toolbar>
    
  </ion-header>

  <ion-content> 
    <form class="form" [formGroup]="validations_form"  (ngSubmit)="addService(validations_form.value)">
     <ion-grid>      
        <ion-card> 
          <ion-row>
            <ion-col>
                <ion-label class="labels" position="floating" >Internet Hours</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <!-- internet hours -->
          <ion-col>
                <ion-input placeholder="time" type="text" formControlName="Ihours"[(ngModel)]="Ihours" ></ion-input>
                 <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.Ihours">
                      <div class="error-message"  *ngIf="validations_form.get('Ihours').hasError(validation.type) && (validations_form.get('Ihours').dirty || validations_form.get('Ihours').touched)">
                        <p class="error">{{ validation.message }}</p>
                      </div>
                    </ng-container>
                  </div>
            </ion-col>
            <!-- Internet prices -->
              <ion-col>
                <ion-input placeholder="00.00" type="number" formControlName="Iprice"[(ngModel)] ="Iprice" >R</ion-input>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.Iprice">
                      <div class="error-message"  *ngIf="validations_form.get('Iprice').hasError(validation.type) && (validations_form.get('Iprice').dirty || validations_form.get('Iprice').touched)">
                        <p class="error">{{ validation.message }}</p>
                      </div>
                    </ng-container>
                  </div>
            </ion-col>
          </ion-row>
          <div class="th">
          <ion-icon (click)="add(Ihours,Iprice)" ios="ios-add-circle" md="md-add-circle" color="primary" horizontal="end" vertical="bottom" slot="fixed"></ion-icon>
        </div>
        </ion-card> 
     
        <ion-card>
      <ion-row>
        <ion-col>
         <ion-label class="labels" position="floating" > Printing and Copying</ion-label>
        </ion-col>
        </ion-row>
       
        <ion-row>
          <!-- Printing in color -->
            <ion-col>
              <ion-label position="floating"  > Color</ion-label>
              </ion-col>
              <!-- Printing prices in color -->
              <ion-col>
                  <ion-input placeholder="00.00" type="number" formControlName="Printingcolor"[(ngModel)] ="Printingcolor" >R</ion-input>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.Printingcolor">
                        <div class="error-message"  *ngIf="validations_form.get('Printingcolor').hasError(validation.type) && (validations_form.get('Printingcolor').dirty || validations_form.get('Printingcolor').touched)">
                          <p class="error">{{ validation.message }}</p>
                        </div>
                      </ng-container>
                    </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <!-- Printing in black -->
                <ion-col>
                  <ion-label  position="floating" >Black and white</ion-label>
                  </ion-col>
                  <!-- Printing prices in black -->
                  <ion-col>
                      <ion-input placeholder="00.00" type="number" formControlName="Printingblack"[(ngModel)] ="Printingblack" >R</ion-input>
                      <div class="validation-errors">
                          <ng-container *ngFor="let validation of validation_messages.Printingblack">
                            <div class="error-message"  *ngIf="validations_form.get('Printingblack').hasError(validation.type) && (validations_form.get('Printingblack').dirty || validations_form.get('Printingblack').touched)">
                              <p class="error">{{ validation.message }}</p>
                            </div>
                          </ng-container>
                        </div>
                  </ion-col>
                </ion-row>
           
          </ion-card>
  </ion-grid>
  
<ion-card>
    <ion-row>
        <ion-col>
            <ion-label class="labels"  position="floating" >Scanner</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- Scanning number of pages -->
      <ion-col>
        <ion-label position="floating" > Price per page</ion-label>
        </ion-col>
        <!-- scanning prices per page -->
        <ion-col>
            <ion-input placeholder="00.00" type="number" formControlName="Scannerprice"[(ngModel)] ="Scannerprice" >R</ion-input>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.Scannerprice">
                  <div class="error-message"  *ngIf="validations_form.get('Scannerprice').hasError(validation.type) && (validations_form.get('Scannerprice').dirty || validations_form.get('Scannerprice').touched)">
                    <p class="error">{{ validation.message }}</p>
                  </div>
                </ng-container>
              </div>
        </ion-col>
      </ion-row>
      
    </ion-card>  
    
  <ion-card>
      <ion-row>
          <ion-col>
              <ion-label class="labels" position="floating" >Fax</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <!-- fax pages -->
        <ion-col>
          <ion-label position="floating" > Price per page</ion-label>
          </ion-col>
          <!-- fax prices -->
          <ion-col>
              <ion-input placeholder="00.00" type="number" formControlName="Faxprice"[(ngModel)] ="Faxprice" >R</ion-input>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.Faxprice">
                    <div class="error-message"  *ngIf="validations_form.get('Faxprice').hasError(validation.type) && (validations_form.get('Faxprice').dirty || validations_form.get('Faxprice').touched)">
                      <p class="error">{{ validation.message }}</p>
                    </div>
                  </ng-container>
                </div>
          </ion-col>
        </ion-row>
        
      </ion-card>
      
    <ion-card>
        <ion-row>
            <ion-col>
                <ion-label class="labels" position="floating" >Email</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <!-- email pages -->
          <ion-col>
            <ion-label position="floating" > Price per page</ion-label>
            </ion-col>
            <!-- email price -->
            <ion-col>
                <ion-input placeholder="00.00" type="number" formControlName="Emailprice"[(ngModel)] ="Emailprice" >R</ion-input>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.Emailprice">
                      <div class="error-message"  *ngIf="validations_form.get('Emailprice').hasError(validation.type) && (validations_form.get('Emailprice').dirty || validations_form.get('Emailprice').touched)">
                        <p class="error">{{ validation.message }}</p>
                      </div>
                    </ng-container>
                  </div>
            </ion-col>
          </ion-row>
        
        </ion-card> 
        
       <ion-card>
          <ion-row>
              <ion-col>
                  <ion-label class="labels" position="floating" >Binding</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <!-- binging pages -->
            <ion-col>
              <ion-label  position="floating" > Price per page</ion-label>
              </ion-col>
              <!-- binding price -->
              <ion-col>
                  <ion-input placeholder="00.00" type="number" formControlName="Bindingprice"[(ngModel)] ="Bindingprice">R</ion-input>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.Bindingprice">
                        <div class="error-message"  *ngIf="validations_form.get('Bindingprice').hasError(validation.type) && (validations_form.get('Bindingprice').dirty || validations_form.get('Bindingprice').touched)">
                          <p class="error">{{ validation.message }}</p>
                        </div>
                      </ng-container>
                    </div>
              </ion-col>
            </ion-row>
            
          </ion-card> 
       
        <!-- <ion-button  class="submit-btn" type="submit" (click)="addService()">Save</ion-button> -->
        <ion-button  class="submit-btn" type="submit"  [disabled]="!validations_form.valid" (click)="addService()">Save</ion-button>
     
      </form>
  </ion-content>
  