.form{
    background-color:#fff; 
    margin:10px;
    border: 2px ;
    padding: 10px;
    border-radius: 25px;

    color: black;
}
.submit-btn {
    margin-top: 40px;
  }
  ion-button {
    width: 90%;
    margin: 5%;
}
.background{
    background-color: #689ACA
    }
    .img {
        width: 100%;
        height: 50px;
    }
    .head_ion-grid{
        margin: -10px;
     }
     .row{
         border: solid 2px rgba(12, 1, 1, 0.89);
      }
      .validation-errors{
          color: red;
      }

      .img {
        width: 100%;
        height: 50px;
      }
      .head_ion-grid{
        margin: -10px;
     }
     .head_ion-col{
        margin: -10px;
        width: 100%;
        border: none;
        background-color: #689ACA
    }
  .head_ion-row{
    border: none;
    background-color: #689ACA
  }

    