<ion-header>
  <ion-toolbar color="primary">
    <ion-grid class="head_ion-grid">
      <ion-row justify-content-center>
        <ion-col class="head_ion-col"align-self-center size-md="6" size-lg="5" size-xs="12">
        <img class="img"src="assets/logo.png">
        </ion-col>
        </ion-row>
        </ion-grid>
        <ion-menu-button autoHide="false"slot="start"></ion-menu-button>
            <ion-icon slot="end" name="log-out"(click)="logOut()"></ion-icon>
  </ion-toolbar>
 </ion-header>

<ion-content color="primary" >
    <!-- <ion-row justify-content-center> -->
        <!-- <ion-col align-self-center size-md="6" size-lg="5" size-xs="12"> -->
           <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
                    <ion-grid class="flex1">
                        <ion-row class="last-col">
                          <ion-col  *ngFor="let item of itemList" align-self-center size-md="6" size-lg="4" size-xs="12">
                            <ion-card class="ion-text-wrap">
                                  <ion-item lines="none">
                                    <ion-icon name="pin" slot="start" routerLink="/map2"></ion-icon>
                                    <ion-label>{{item.name}}</ion-label>
                                  </ion-item>
                                  <ion-card-content>
                                      <img src="{{item.img}}" alt="img">
                                      <ion-item lines="none">
                                          <ion-label>
                                              {{item.address.substring(0, item.address.indexOf(','))}}
                                          </ion-label>
                                          <ion-button fill="outline"slot="end" (click)="goToSeeMorePage(item)" >See more</ion-button>  

                                        </ion-item>
                                  </ion-card-content>
                                </ion-card>
                          </ion-col>
                         
                          </ion-row>
                       </ion-grid>
      
</ion-content>
