<ion-header>
  <ion-toolbar>
      <ion-icon slot="end" name="log-out"(click)="logOut()"></ion-icon>
       <ion-searchbar placeholder="Search internet cafe"[formControl]="searchControl"></ion-searchbar> 
   </ion-toolbar>
</ion-header>  
<ion-content color="primary">
       
        
                    <ion-grid>
                        <ion-row>
                          <ion-col>
                              <ion-card>
        
                                  <ion-item lines="none">
                                    <ion-icon name="pin" slot="start"></ion-icon>
                                    <ion-label>Name of internet cafe</ion-label>
                                   
                                  </ion-item>
                                  <img src="assets/cafe1.jpg" alt="img">
                                  <ion-card-content>
                                      <ion-item lines="none">
                                          <ion-label>
                                             Street name
                                          </ion-label>
                                          <ion-button fill="outline" (click)="goToSeeMorePage()" >See more</ion-button>
                                        </ion-item>
                                  </ion-card-content>
                                </ion-card>
                          </ion-col>
                          <ion-col >
                              <ion-card>
        
                                  <ion-item lines="none">
                                    <ion-icon name="pin" slot="start"></ion-icon>
                                    <ion-label>Name of internet cafe</ion-label>
                                   
                                  </ion-item>
                                  <img src="assets/cafe2.jpg" alt="img">
                                  <ion-card-content>
                                      <ion-item lines="none">
                                          <ion-label>
                                             Street name
                                          </ion-label>
                                          <ion-button fill="outline" (click)="goToSeeMorePage()" >See more</ion-button>
                                        </ion-item>
                                  </ion-card-content>
                                </ion-card>
                          </ion-col>
                         
                          <ion-col class="last-col" >
                              <ion-card>
        
                                  <ion-item lines="none">
                                    <ion-icon name="pin" slot="start"></ion-icon>
                                    <ion-label>Name of internet cafe</ion-label>
                                   
                                  </ion-item>
                                  <img src="assets/cafe3.jpg" alt="img">
                                  <ion-card-content>
                                      <ion-item lines="none">
                                          <ion-label>
                                             Street name
                                          </ion-label>
                                          <ion-button fill="outline" (click)="goToSeeMorePage()" >See more</ion-button>
                                        </ion-item>
                                  </ion-card-content>
                                </ion-card>
                          </ion-col>
                        </ion-row>
                     
                          <ion-row class="last-row">
                            <ion-col >
                                <ion-card>
          
                                    <ion-item lines="none">
                                      <ion-icon name="pin" slot="start"></ion-icon>
                                      <ion-label>Name of internet cafe</ion-label>
                                     
                                    </ion-item>
                                    <img src="assets/cafe1.jpg" alt="img">
                                    <ion-card-content>
                                        <ion-item lines="none">
                                            <ion-label>
                                               Street name
                                            </ion-label>
                                            <ion-button fill="outline" (click)="goToSeeMorePage()" >See more</ion-button>
                                          </ion-item>
                                    </ion-card-content>
                                  </ion-card>
                            </ion-col>
                            <ion-col >
                                <ion-card>
          
                                    <ion-item lines="none">
                                      <ion-icon name="pin" slot="start"></ion-icon>
                                      <ion-label>Name of internet cafe</ion-label>
                                     
                                    </ion-item>
                                    <img src="assets/cafe2.jpg" alt="img">
                                    <ion-card-content>
                                        <ion-item lines="none">
                                            <ion-label>
                                               Street name
                                            </ion-label>
                                            <ion-button fill="outline" (click)="goToSeeMorePage()" >See more</ion-button>
                                          </ion-item>
                                    </ion-card-content>
                                  </ion-card>
                            </ion-col>
                           
                            <ion-col class="last-col" >
                                <ion-card>
          
                                    <ion-item lines="none">
                                      <ion-icon name="pin" slot="start"></ion-icon>
                                      <ion-label>Name of internet cafe</ion-label>
                                     
                                    </ion-item>
                                    <img src="assets/cafe3.jpg" alt="img">
                                    <ion-card-content>
                                        <ion-item lines="none">
                                            <ion-label>
                                               Street name
                                            </ion-label>
                                            <ion-button fill="outline" (click)="goToSeeMorePage()" >See more</ion-button>
                                          </ion-item>
                                    </ion-card-content>
                                  </ion-card>
                            </ion-col>
                          </ion-row>
                       </ion-grid>
</ion-content>
