ion-card{
   background-color: white;
}

.img {
   width: 100%;
   height: 50px;
 }
 .head_ion-grid{
   margin: -10px;
}
.head_ion-col{
   margin: -10px;
   width: 100%;
  
}
.head_ion-row{
 margin-top: 10px;
 margin-left: 10px;
  margin-right: -10px;
}