

<ion-content color="primary">
  <ion-card>  
      <!-- <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons> -->
   
    <ion-grid>
     
        <ion-row> 
        <ion-col>
          <ion-item lines="none">
              <!-- <img class="picture"src="assets/cafe1.jpg" alt="img"> -->
              
                  <ion-menu-button autoHide="false"slot="start"></ion-menu-button>
               <h1>&nbsp; Name</h1>
          
          </ion-item>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </ion-card>
    
          <ion-card>
            <div class="title">
                <h3>Post tittle</h3>
             </div>
            <ion-item lines="none">
                gdsahbfjmkhjkgdfsdhhhhhhhhhhhhhhhh 
                hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh 
                hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh 
                hhhhhhhhhhhhhhhhhhhhhhhhhhhhhK
            </ion-item >
            <br>
              <img src="assets/cafe1.jpg" alt="img">
              <ion-item lines="none" class="date">
                  <p>
                     date and time
                  <p>
                 
                </ion-item>
            
                    <ion-button fill="outline"  >Comment</ion-button>
            
            </ion-card>
            <ion-card>
               <div class="title">
                <h3>Post tittle</h3>
               </div>
             
            <ion-item lines="none">
                gdsahbfjmkhjkgdfsdhhhhhhhhhhhhhhhh 
                hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh 
                hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh 
                hhhhhhhhhhhhhhhhhhhhhhhhhhhhhK
            </ion-item >
            <br>
              <img src="assets/cafe3.jpg" alt="img">
              <ion-item lines="none" class="date">
                  <p>
                     date and time
                  <p>
                 
                </ion-item>
                    <ion-button fill="outline" (click)="goToCommentsPage()" >Comment</ion-button>
            </ion-card>
</ion-content>
