
<ion-header>
    <ion-toolbar color="primary">
        <ion-menu-button autoHide="false"slot="start"></ion-menu-button>
        <img class="img" src="assets/logo.png">
    </ion-toolbar>
   </ion-header>
<ion-content color="primary">
  <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                
              <ion-card>
                <ion-row>
                  <ion-col>
                      <ion-avatar item-start>
                          <img src="assets/Background.png">
                       </ion-avatar>
                  </ion-col>
                  <ion-col size="9.5">
                      <h3 style="color:black; margin-top: 0px;">Post Tittle</h3>
                      <h4 >gdhhwiefw ihiwfiwfh hijijhdfiwf
                         hggfuwhfiw fwugfiuwq gyg2fuhhihi
                         vfygf23rh hr23hri2 hh2ggd2gd ughduwghdw</h4> 
                     <p>date/time</p> 
                   </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            
                <ion-card>
                  <ion-row>
                    <ion-col>
                        <ion-avatar item-start>
                            <img src="assets/Background.png">
                         </ion-avatar>
                    </ion-col>
                    <ion-col size="9.5">
                        <h3 style="color:black; margin-top: 0px;">Post Tittle</h3>
                        <h4 >gdhhwiefw ihiwfiwfh hijijhdfiwf
                           hggfuwhfiw fwugfiuwq gyg2fuhhihi
                           vfygf23rh hr23hri2 hh2ggd2gd ughduwghdw</h4> 
                       <p>date</p> 
                     </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
          </ion-row>

          <ion-row justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                  
                <ion-card>
                  <ion-row>
                    <ion-col>
                        <ion-avatar item-start>
                            <img src="assets/Background.png">
                         </ion-avatar>
                    </ion-col>
                    <ion-col size="9.5">
                        <h3 style="color:black; margin-top: 0px;">Post Tittle</h3>
                        <h4 >gdhhwiefw ihiwfiwfh hijijhdfiwf
                           hggfuwhfiw fwugfiuwq gyg2fuhhihi
                           vfygf23rh hr23hri2 hh2ggd2gd ughduwghdw</h4> 
                       <p>date</p> 
                     </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              
                  <ion-card>
                    <ion-row>
                      <ion-col>
                          <ion-avatar item-start>
                              <img src="assets/Background.png">
                           </ion-avatar>
                      </ion-col>
                      <ion-col size="9.5">
                          <h3 style="color:black; margin-top: 0px;">Post Tittle</h3>
                          <h4 >gdhhwiefw ihiwfiwfh hijijhdfiwf
                             hggfuwhfiw fwugfiuwq gyg2fuhhihi
                             vfygf23rh hr23hri2 hh2ggd2gd ughduwghdw</h4> 
                         <p>date</p> 
                       </ion-col>
                    </ion-row>
                  </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>  
</ion-content>
