<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let item of items">
{{item.another_key}}
    </ion-item>
  </ion-list>
 <h1>{{ title }}</h1>

  <!-- <agm-map id="map" [latitude]="lat" [longitude]="lng" (mapClick)="onClickLocation($event)">
    <agm-marker [latitude]="lat" [longitude]="lng"[markerDraggable]="true"
    (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map> -->

  <div id='map'></div>

</ion-content>
