
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
       <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-buttons>
    <h1>{{ title }}</h1>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">


  <!-- <h1>{{ title }}</h1> -->
  <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onClickLocation($event)">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

  <!-- nearby locations -->
  <agm-marker *ngFor= "let marker of markers">
    [latitude]= "marker.location[0]"
    [longitude]= "marker.location[1]"
    [ionUrl]='"/assets/icon/location-marker.png"'

    <agm-info-window>
      <h3>Location Details</h3>
      <p>You are {{marker.distance}} Km fron this point</p>
    </agm-info-window>


  </agm-marker>

</ion-content>
