<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->
<ion-app>
    <ion-menu contentId="content1" side="start">
      <ion-header>
        <ion-toolbar color="primary">
            <img class="img" src="assets/logo.png">
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-list>
           
              <ion-item routerLink="/suggested-list">Home</ion-item>
              <ion-item routerLink="/internetCafe">Add internetCafe</ion-item>
              <ion-item routerLink="/map2">View locations</ion-item>
            </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1" main></ion-router-outlet>
  </ion-app>