<ion-content color="primary">
      
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
            <img src="assets/Background.png">
            <form class="form" [formGroup]="validations_form"  (ngSubmit)="tryRegister(validations_form.value)">
                <ion-item>
                    <ion-label  position="floating" color="primary">Full Name</ion-label>
                    <ion-input type="text" formControlName="username"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.username">
                      <div class="error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>


                
                  <!-- <ion-item>
                    <ion-label  position="floating" color="primary">Race</ion-label>
                    <ion-input type="text" formControlName="Race"></ion-input>

                    <ion-select id="Race">                    
                      <ion-select-option id="black"  value="black"  name="race" (change)="raceChangeHandler($event)"formControlName="race">Black/African</ion-select-option>
                      <ion-select-option id="White"  value="White"  name="race" (change)="raceChangeHandler($event)"formControlName="race">White</ion-select-option>
                      <ion-select-option id="Coloured"  value="Coloured"  name="race" (change)="raceChangeHandler($event)"formControlName="race">Coloured</ion-select-option>
                      <ion-select-option id="Indian"  value="Indian"  name="race" (change)="raceChangeHandler($event)"formControlName="race">Indian</ion-select-option>
                      <ion-select-option id="blotherack"  value="other"  name="race" (change)="raceChangeHandler($event)"formControlName="race">other</ion-select-option>
                  </ion-select>
                  </ion-item> -->
                  
                 <!-- race -->
                  <ion-item class="radio">
                    <ion-label color="primary">Race:  </ion-label><br>
                      <input type="radio" id="Black"value="Black" name="race" (change)="raceChangeHandler($event)"formControlName="race">
                      Black
                    <br>
                      <input  type="radio" id="White" value="White" name="race" (change)="raceChangeHandler($event)"formControlName="race">
                      White
                      
                      <input type="radio" id="Coloured" value="Coloured" name="race" (change)="raceChangeHandler($event)"formControlName="race">
                      Coloured
                   
                  
                </ion-item>
                <!-- gender -->
                <ion-item class="radio">
                    <ion-label color="primary">Gender:  </ion-label><br>
                      
                      <input type="radio" id="male" value="male" name="gender" (change)="genderChangeHandler($event)"formControlName="gender">
                      Male
                      
                      <input type="radio" id="female" value="female" name="gender" (change)="genderChangeHandler($event)"formControlName="gender">
                     Female
                   
                  
                </ion-item>
                  <!-- <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.Race">
                      <div class="error-message" *ngIf="validations_form.get('Race').hasError(validation.type) && (validations_form.get('Race').dirty || validations_form.get('Race').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div> -->

<!-- 
                  <ion-item>
                    <ion-label  position="floating" color="primary">Gender</ion-label>
                    <ion-input type="text" formControlName="gender"></ion-input>
                    <ion-select id="gender">
                      <ion-select-option id="female"  value="female" (change)="gendChangeHandler($event)">Female</ion-select-option>
                      <ion-select-option id="male"  value="male" (change)="gendChangeHandler($event)">Male</ion-select-option>
                      <ion-select-option  id="disclose"  value="disclose" (change)="gendChangeHandler($event)">Prefer not to answer</ion-select-option>
                  </ion-select>
                  </ion-item> -->


                  <!-- <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.gender">
                      <div class="error-message" *ngIf="validations_form.get('gender').hasError(validation.type) && (validations_form.get('gender').dirty || validations_form.get('gender').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div> -->



    
                <ion-item>
                  <ion-label  position="floating" color="primary">Email</ion-label>
                  <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                
                <ion-item>
                  <ion-label  position="floating" color="primary">Password</ion-label>
                  <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.password">
                    <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
             
                
                <ion-button  class="submit-btn" type="submit"  [disabled]="!validations_form.valid">Register</ion-button>
                <label class="error-message">{{errorMessage}}</label>
                <label class="success-message">{{successMessage}}</label>
            
                <ion-item class="go-to-register">Already have an account? <a (click)="goLoginPage()">Try Log In.</a></ion-item><br>
            
            </form>
          
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
