.background{
background-color: #689ACA
}
ion-button {
    width: 90%;
    margin: 5%;
}
img{
 padding: 20px 70px;

}
.form{
    background-color:#fff; 
    margin:10px;
}
.go-to-login{
    color: black;
}
