.background{
background-color: #689ACA
}
ion-button {
    width: 90%;
    margin: 5%;
}
img{
height: 250px;

}
.form{
    background-color:#fff; 
    margin:10px;
    border: 2px ;
    padding: 10px;
    border-radius: 25px;
    
}
.go-to-login{
    color: black;
}
.go-to-register{ 
    --border-color:white;
 } 
 .validation-errors,.error-message{
    color: red;
}