<ion-header>
    <ion-toolbar color="primary" >
        
          <ion-menu-button autoHide="false"slot="start"></ion-menu-button>
          <img class="img" src="assets/logo.png">
                 
    </ion-toolbar>
  </ion-header>
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <ion-content color="primary">
   
            <ion-card class="card">
         
                <div lines="none" class="heading"> OUR SERVICES</div>
                <ion-grid>
                  
                    <ion-row class="row">
                      <ion-col class="coll"> 
                         Internet Hours
                         <br>
                      </ion-col>
                      <ion-col class="coll">
                          <ion-row> 15 minutes</ion-row>
                          <ion-row>30 minutes</ion-row>
                          <ion-row>1 Hour</ion-row>
                      </ion-col>
                      <ion-col class="coll">
                          <ion-row> R10</ion-row>
                          <ion-row>R30 </ion-row>
                          <ion-row>R70</ion-row>
                      </ion-col>
                    </ion-row>
                    
                        <br>
                        <ion-row class="row">
                        <ion-col class="coll">
                           Printing And Copying
                           <br>
                        </ion-col>
                        <ion-col class="coll">
                          size
                          <br>
                          <ion-row> A4/ SS</ion-row>
                          <ion-row>A4 /DS </ion-row>
                          <ion-row>A3/ SS</ion-row>
                          <ion-row>A3 /DS </ion-row>
                        </ion-col>
                        <ion-col class="coll">
                          B&W
                          <br>
                            <ion-row>
                              R30</ion-row>
                            <ion-row>R30 </ion-row>
                            <ion-row>R30</ion-row>
                            <ion-row>R30 </ion-row>
                        </ion-col>
                        <ion-col class="coll">
                          color
                          <br>
                          <ion-row>R40</ion-row>
                          <ion-row>R40 </ion-row>
                          <ion-row>R40</ion-row>
                          <ion-row>R40 </ion-row>
                        </ion-col>
                      </ion-row>
                      <br>
                      <ion-row class="row">
                          <ion-col class="coll">
                             Scanner
                             <br>
                          </ion-col>
                          <ion-col class="coll">
                            Separate
                            <br>
                              <ion-row>R100 Per page</ion-row>                  
                          </ion-col>
                          <ion-col class="coll">
                              Together
                              <br>
                              <ion-row>R100 depends on pages</ion-row>
                          </ion-col>
                     </ion-row>
                        <br>
                        <ion-row class="row">
                            <ion-col class="coll">
                             fax
                             <br>
                            </ion-col>
                            <ion-col class="coll">
                                Per Page
                                <br>
                                <ion-row>R100 </ion-row>
                            </ion-col>
                       </ion-row>
                       <br>
                       <ion-row class="row">
                          <ion-col class="coll">
                            email
                            <br>
                          </ion-col>
                          <ion-col class="coll">
                           Per Page
                           <br>
                              <ion-row>R100 </ion-row>
                          </ion-col>
                     </ion-row>
                          <br> 
                          <ion-row class="row">
                          <ion-col class="coll">
                           Binding
                          </ion-col>
                          <ion-col class="coll">
                              <ion-row>R100 10 pages ``  </ion-row>
                          </ion-col>
                     </ion-row>
                
             </ion-grid>
           
            </ion-card>
  
      
       
  
   </ion-content>