<ion-header>
  <ion-toolbar color="primary" >
      
        <ion-menu-button autoHide="false"slot="start"></ion-menu-button>
        <img class="img" src="assets/logo.png">
               
  </ion-toolbar>
</ion-header>
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<ion-content color="primary">
  
    <div class="container">
      <div class="row">
      <div id="wrapper">
      <div class="scrollbar" id="style-default">
      <div class="force-overflow">
          <ion-card class="card">
        
              <div lines="none" class="heading"> OUR SERVICES</div>
              <ion-grid>
                
                  <ion-row class="row">
                    <ion-col>
                       Internet Hours
                       <br>
                    </ion-col>
                    <ion-col>
                        <ion-row> 15 minutes</ion-row>
                        <ion-row>30 minutes</ion-row>
                        <ion-row>1 Hour</ion-row>
                    </ion-col>
                    <ion-col>
                        <ion-row> R10</ion-row>
                        <ion-row>R30 </ion-row>
                        <ion-row>R70</ion-row>
                    </ion-col>
                  </ion-row>
                      <br>
                      <ion-row class="row">
                      <ion-col>
                         Printing And Copying
                         <br>
                      </ion-col>
                      <ion-col>
                        size
                        <br>
                        <ion-row> A4/ SS</ion-row>
                        <ion-row>A4 /DS </ion-row>
                        <ion-row>A3/ SS</ion-row>
                        <ion-row>A3 /DS </ion-row>
                      </ion-col>
                      <ion-col>
                        B&W
                        <br>
                          <ion-row>
                            R30</ion-row>
                          <ion-row>R30 </ion-row>
                          <ion-row>R30</ion-row>
                          <ion-row>R30 </ion-row>
                      </ion-col>
                      <ion-col>
                        color
                        <br>
                        <ion-row>R40</ion-row>
                        <ion-row>R40 </ion-row>
                        <ion-row>R40</ion-row>
                        <ion-row>R40 </ion-row>
                      </ion-col>
                    </ion-row>
                    <br>
                    <ion-row class="row">
                        <ion-col>
                           Scanner
                           <br>
                        </ion-col>
                        <ion-col>
                          Separate
                          <br>
                            <ion-row>R100 Per page</ion-row>                  
                        </ion-col>
                        <ion-col>
                            Together
                            <br>
                            <ion-row>R100 depends on pages</ion-row>
                        </ion-col>
                   </ion-row>
                      <br>
                      <ion-row class="row">
                          <ion-col>
                           fax
                           <br>
                          </ion-col>
                          <ion-col>
                              Per Page
                              <br>
                              <ion-row>R100 </ion-row>
                          </ion-col>
                     </ion-row>
                     <br>
                     <ion-row class="row">
                        <ion-col>
                          email
                          <br>
                        </ion-col>
                        <ion-col>
                         Per Page
                         <br>
                            <ion-row>R100 </ion-row>
                        </ion-col>
                   </ion-row>
                        <br> 
                        <ion-row class="row">
                        <ion-col>
                         Binding
                        </ion-col>
                        <ion-col>
                            <ion-row>R100 10 pages ``  </ion-row>
                        </ion-col>
                   </ion-row>
                   <br> 
                   
                <ion-row class="row">
                  <ion-col>
                    <div class="shirts"> Printing Of T-shirts</div>
                    <br>
                    <ion-slides autoplay="5000" loop="true" speed="3000" class="full">
                        <ion-slide>
                            <img src="assets/printed 3.jpg" alt="img">
                        </ion-slide>
                        <ion-slide>
                            <img src="assets/printed 1.jpg" alt="img">
                        </ion-slide>
                        <ion-slide>
                            <img src="assets/printed 3.jpg" alt="img">
                        </ion-slide>
                      </ion-slides>
                  </ion-col>
                  <ion-col>
                      <div class="shirts"> Price!</div>
                      
                  </ion-col>
             </ion-row>
           </ion-grid>
         
          </ion-card>
      </div>
      </div>
      </div>
       </div>
    </div>
    
    <div class="scrollbar" id="style-1">
      <div class="force-overflow"></div>
    </div> 
 </ion-content>
