<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button autoHide="false" slot="start"></ion-menu-button>
    <img class="img" src="assets/logo.png" />

  </ion-toolbar>
</ion-header>

<ion-content color="primary">

    <ion-grid >      
        <ion-card class="thecard"> 
          <ion-row>
            <ion-col>
                <ion-label class="theLabel" position="floating" >Internet Hours</ion-label>
            </ion-col>
          </ion-row>
          <br>
          <ion-row >
         
          <ion-col>
          Time in minutes
              
            </ion-col>
            
              <ion-col>
                Price
               
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let item of internetTime" >
            <!-- internet hours -->
          <ion-col>
              {{item.Ihours}}
              
            </ion-col>
            <!-- Internet prices -->
              <ion-col>
                  R {{item.Iprice}}
               
            </ion-col>
          </ion-row>
        </ion-card> 
     
        <ion-card class="thecard">
      <ion-list lines="none">
      
        
         <!-- radios for color type -->
         <ion-label position="floating" class="theLabel"> Printing and Copying</ion-label>
        
         <br>
        </ion-list>
        <ion-row>
          <!-- Printing in color -->
            <ion-col>
              <ion-label position="floating" > Color</ion-label>
              </ion-col>
              <!-- Printing prices in color -->
              <ion-col>
                  R {{color}}
              </ion-col>
            </ion-row>
            <ion-row>
              <!-- Printing in black -->
                <ion-col>
                  <ion-label position="floating" >Black and white</ion-label>
                  </ion-col>
                  <!-- Printing prices in black -->
                  <ion-col>
                      R {{blkNWhite}}
                  </ion-col>
                </ion-row>
           
          </ion-card>
 
  
<ion-card class="thecard">
    <ion-row>
        <ion-col>
            <ion-label  position="floating" class="theLabel">Scanner</ion-label>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <!-- Scanning number of pages -->
      <ion-col>
        <ion-label position="floating" > Price per page</ion-label>
        </ion-col>
        <!-- scanning prices per page -->
        <ion-col>
            R {{scanner}}
        </ion-col>
      </ion-row>
      
    </ion-card>  
    
  <ion-card class="thecard">
      <ion-row>
          <ion-col>
              <ion-label  position="floating" class="theLabel" >Fax</ion-label>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <!-- fax pages -->
        <ion-col>
          <ion-label position="floating" > Price per page</ion-label>
          </ion-col>
          <!-- fax prices -->
          <ion-col>
              R {{fax}}
          </ion-col>
        </ion-row>
        
      </ion-card>
      
    <ion-card class="thecard">
        <ion-row>
            <ion-col>
                <ion-label  position="floating" class="theLabel" >Email</ion-label>
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <!-- email pages -->
          <ion-col>
            <ion-label position="floating" > Price per page</ion-label>
            </ion-col>
            <!-- email price -->
            <ion-col>
                R {{email}}
            </ion-col>
          </ion-row>
        
        </ion-card> 
        
       <ion-card class="thecard">
          <ion-row>
              <ion-col>
                  <ion-label  position="floating" class="theLabel">Binding</ion-label>
              </ion-col>
            </ion-row>
            <br>
            <ion-row>
              <!-- binging pages -->
            <ion-col>
              <ion-label position="floating" > Price per page</ion-label>
              </ion-col>
              <!-- binding price -->
              <ion-col>
                  R {{binding}}
              </ion-col>
            </ion-row>
            
          </ion-card>
        </ion-grid>
 

</ion-content>