<ion-header>

  <ion-toolbar color="primary" >
    <ion-grid class="head_ion-grid">
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <img class="img"src="assets/logo.png">
        </ion-col>
        </ion-row>
        </ion-grid>
        <ion-icon class="icon" name="home"(click)="home()" slot="start"></ion-icon>
            <ion-icon class="icon" slot="end" name="log-out"(click)="logOut()"></ion-icon>
  </ion-toolbar>
 </ion-header>
<ion-content color="secondary">
  
      <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
               <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
               <h3 class="name">{{objectA.name}}</h3>
               <ion-card-content>
                  <ion-grid>
                      <ion-row>
                        <ion-col>
                            <ion-icon name="globe"  color="primary"></ion-icon><br>
                            <ion-label >Website</ion-label>
    
                        </ion-col>
                        <ion-col (click)="goToMapPage()">
                           <ion-icon name="compass" ></ion-icon><br> 
                           <ion-label >View location</ion-label> 
                        </ion-col>
                        <ion-col (click)="goToServicesPage()" >
                           
                            <ion-icon name="book"></ion-icon><br>
                            <ion-label >Services</ion-label> 
                        </ion-col>
                        
                      </ion-row>
                      <ion-row justify-content-center>
                        
                        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                            
                                <ion-item lines="none" color="secondary">
                                    <a>
                                          <ion-icon name="home" ></ion-icon> 
                                        {{objectA.address}}
                                      
                                    </a>
                                </ion-item>
                                <ion-item lines="none"color="secondary">
                                    <a>
                                        <ion-icon name="clock" ></ion-icon> 
                                        {{objectA.from}}  {{objectA.to}}
                                    </a>
                                </ion-item>
                                <ion-item lines="none"color="secondary">
                                  <a href="tel:{{objectA.phone}}">
                                    <ion-icon name="call" ></ion-icon> 
                                    {{objectA.phone}}
                                  </a>
                                </ion-item>
                                <ion-item lines="none"color="secondary">
                                  <a  href="mailto:{{objectA.email}}">
                                    <ion-icon name="mail" ></ion-icon> 
                                    {{objectA.email}}
                                  </a>
                                </ion-item>
                              
                        </ion-col>
                        
                      </ion-row>
                    </ion-grid>
                   
                    <br>
                    
                          <ion-button  (click)="presentPrompt()"> Comments</ion-button>
                          <p class="error">{{msg}}</p>
                    <br>
               
              </ion-card-content>
             
                <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
                <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
               
                <!-- <div class="container">
                        <div id="carousel">
                      <figure><img src="assets/cafe1.jpg" alt=""></figure>
                      <figure><img src="assets/cafe2.jpg" alt=""></figure>
                      <figure><img src="assets/cafe3.jpg" alt=""></figure>
                      <figure><img src="assets/cafe4.jpeg" alt=""></figure>
                      <figure><img src="assets/cafe1.jpg" alt=""></figure>
                      <figure><img src="assets/cafe2.jpg" alt=""></figure>
                      <figure><img src="assets/cafe3.jpg" alt=""></figure>
                      <figure><img src="assets/cafe4.jpeg" alt=""></figure>
                      <figure><img src="assets/cafe1.jpg" alt=""></figure>
                    </div>
                   
                  </div> -->
                  <ul class="slides">
                      <input type="radio" name="radio-btn" id="img-1" checked />
                      <li class="slide-container">
                      <div class="slide">
                        <img src= "{{objectA.img}}"/>
                          </div>
                      <div class="nav">
                        <label for="img-6" class="prev">&#x2039;</label>
                        <label for="img-2" class="next">&#x203a;</label>
                      </div>
                      </li>
                  
                      <!-- <input type="radio" name="radio-btn" id="img-2" />
                      <li class="slide-container">
                          <div class="slide">
                            <img src="http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg" />
                          </div>
                      <div class="nav">
                        <label for="img-1" class="prev">&#x2039;</label>
                        <label for="img-3" class="next">&#x203a;</label>
                      </div>
                      </li>
                  
                      <input type="radio" name="radio-btn" id="img-3" />
                      <li class="slide-container">
                          <div class="slide">
                            <img src="http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg" />
                          </div>
                      <div class="nav">
                        <label for="img-2" class="prev">&#x2039;</label>
                        <label for="img-4" class="next">&#x203a;</label>
                      </div>
                      </li>
                  
                      <input type="radio" name="radio-btn" id="img-4" />
                      <li class="slide-container">
                          <div class="slide">
                            <img src="http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg" />
                          </div>
                      <div class="nav">
                        <label for="img-3" class="prev">&#x2039;</label>
                        <label for="img-5" class="next">&#x203a;</label>
                      </div>
                      </li>
                  
                      <input type="radio" name="radio-btn" id="img-5" />
                      <li class="slide-container">
                          <div class="slide">
                            <img src="http://farm9.staticflickr.com/8055/8098750623_66292a35c0_z.jpg" />
                          </div>
                      <div class="nav">
                        <label for="img-4" class="prev">&#x2039;</label>
                        <label for="img-6" class="next">&#x203a;</label>
                      </div>
                      </li>
                  
                      <input type="radio" name="radio-btn" id="img-6" />
                      <li class="slide-container">
                          <div class="slide">
                            <img src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
                          </div>
                      <div class="nav">
                        <label for="img-5" class="prev">&#x2039;</label>
                        <label for="img-1" class="next">&#x203a;</label>
                      </div>
                      </li>
                  
                      <li class="nav-dots">
                        <label for="img-1" class="nav-dot" id="img-dot-1"></label>
                        <label for="img-2" class="nav-dot" id="img-dot-2"></label>
                        <label for="img-3" class="nav-dot" id="img-dot-3"></label>
                        <label for="img-4" class="nav-dot" id="img-dot-4"></label>
                        <label for="img-5" class="nav-dot" id="img-dot-5"></label>
                        <label for="img-6" class="nav-dot" id="img-dot-6"></label>
                      </li> -->
                  </ul>
                  <br><br>
            </ion-col>
          </ion-row>
          <br>
        </ion-grid>
 
</ion-content>


