ion-card{
    background-color: white;
}
ion-searchbar{
    box-shadow: none;
  
}
.searchbar-input {
    
    border-radius: 0px !important;

  }
  ion-col{
      // border: 1px solid #689ACA;
    //  background-color: #689ACA;
     color: white;
     margin: 10px;
     text-align: center;
 
    
  }
  ion-text{
    text-align: center;
  }
  .direction{
    color: #689ACA;
  }
  .label{
    font-size: 30px; 

    color: #689ACA
  }
  ion-label{
    color:#689ACA;
    
  }
  img{
    width: 100%;
    height: 230px;
}
ion-slide{
  width: 100%;
}
.swipe{
  text-align: center;
}
