
ion-card{
    background-color: #689ACA;
   
}

ion-searchbar{
    box-shadow: none;
  
}
.searchbar-input {
    
    border-radius: 0px !important;

  }
  ion-col{
      
     color: white;
     margin: 10px;
     text-align: center;
 
    
  }
  ion-text{
    text-align: center;
  }
 
  ion-label{
    color:#689ACA;
    
  }

ion-slide{
  width: 100%;
}
.swipe{
  text-align: center;
 
}
   
.background{
  background-color: #689ACA
  }
 
 .slides{
      display: flex;
      flex-direction: column;
      width: 100% !important;
      margin: 0 !important;
    }
  
ion-row {
  text-align: center;
}
ion-icon{
  font-size: 30px; 
  color:#689ACA;
}
.icon{
  color: white;
  font-size: 30px; 
}
ion-button {
      width: 90%;
      margin: 5%;
  }

$white-color: #fff;
$height100: 100%;

.info{
 
color: #689ACA;
}
.s{
  ion-label{
    text-align: center;
   
  }
}
.name, .com{
  color: #689ACA;

}
.com{

  text-align: start;
  margin-left: 2%;
}
.comment{
  background-color: #fff;
 
}
a{
  text-decoration: none;
}
.theComment{
  color: #689ACA;
  margin-left: 2%;
  text-align: start;
 
  

}
// ------------------------------------------------------------------------------------------------------------------

// *:before,
// *:after{
//     box-sizing: border-box;
// }

// .container{
//     margin: 4% auto;
//     width: 210px;
//     height: 140px;
//     position: relative;
//     perspective: 1000px;
// }
// #carousel{
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     transform-style: preserve-3d;
//     animation: rotation 20s infinite linear;
// }
// #carousel:hover{
//     animation-play-state:running;
// }
// #carousel figure{
//     display: block;
//     position: absolute;
//     width: 90%;
//     height: 50%px;
//     left: 10px;
//     top: 10px;
//     background: #689ACA;
//     overflow: hidden;
//     border: solid 5px #689ACA;
// }
// #carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
// #carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
// #carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
// #carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
// #carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
// #carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
// #carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
// #carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
// #carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}
.img {
	width: 100%;
	height: 50px;
}
.head_ion-grid{
    margin: -10px;
 }
 
.slide img{
    // -webkit-filter: grayscale(1);
    -webkit-filter: none;
    cursor: pointer;
    transition: all .5s ease;
}
.slide img:hover{
    -webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #333 url("https://codepen.io/images/classy_fabric.png"); }

.slides {
    padding: 0;
    width: 100%;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
     opacity: 0;
    width: 100%;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    
}

.nav label {
    width: 100px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 2;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color:#689ACA;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}