<ion-header>
  <ion-toolbar  color="primary">
     <ion-item lines="none" color="primary">
                    <ion-back-button default-href="home" slot="start"></ion-back-button>
                  <ion-icon name="pin" ></ion-icon>&nbsp;
                  <ion-label>Name of internet cafe</ion-label>
                </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content  >
   
           
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                          <ion-col>
                              <ion-icon name="globe" class="label"></ion-icon><br>
                              <ion-label >Website</ion-label>

                          </ion-col>
                          <ion-col (click)="goToMapPage()">
                             <ion-icon name="compass" class="label"></ion-icon><br> 
                             <ion-label >Direction</ion-label> 
                          </ion-col>
                          <ion-col (click)="goToServicesPage()" >
                             
                              <ion-icon name="book"class="label"></ion-icon><br>
                              <ion-label >Services</ion-label> 
                          </ion-col>
                          
                        </ion-row>
                      </ion-grid>
                      <br>
                      <ion-item lines="none">Address: //retrieve address from database </ion-item>
                      <ion-item lines="none">Working hours: //retrieve w/hours from database</ion-item>
                      <ion-item lines="none">Phone: //retrieve phone from database</ion-item>
                      <ion-item lines="none">Email: //retrieve email from database</ion-item>
                      <br>
                      <br>
                      <ion-item lines="none">
                        <ion-label>Posts and Comments</ion-label>
                        <ion-button (click)="goToPostsPage()">Post</ion-button>
                      </ion-item>
                      <br>
                      
              <div class="swipe">
                <ion-label>Swipe</ion-label>
                </div>
                       
                </ion-card-content>
               
                <ion-slides pager="true" class="pager">
                    <ion-slide>
                        <ion-card>
                   <img src="assets/cafe1.jpg" alt="img">
                  
                        </ion-card>
                    </ion-slide>
                
                    <ion-slide>
                        <ion-card>
                        <img src="assets/cafe2.jpg" alt="img">
                      </ion-card>

                    </ion-slide>
                
                    <ion-slide>
                      <ion-card>
                        <img src="assets/cafe3.jpg" alt="img">
                      </ion-card>

                    </ion-slide>
                  </ion-slides>
             
</ion-content>
